@import "./variables.scss";

@mixin square($size) {
  width: $size;
  height: $size;
}

.app {
  &-logo {
    @include square(50px);
  }

  &-header {
    align-items: center;
    background-color: #282c34;
    color: $color-light;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    > * {
      padding-left: 5px;
    }
  }
}
